output = core.graphml
classpath = target/universal/stage/lib/pioneers-model.pioneers-model-0.1.jar
exclude = java*.**
exclude = scala.**
exclude = org.scalatest.**
exclude = db.Tables**
exclude = db.DB**
include = db.**
include = export.**
include = messages.**
include = model.**
include = pioneers.**
include = task.**
part = {
    (**)
}